@model FitCardTesteV2.Models.Estabelecimento

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="border container" style="padding:30px;">
        <br />
        <h2>Editar Estabelecimento</h2>
        <br />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="RazaoSocial"></label>
                </div>
                <div class="col-6">
                    <input asp-for="RazaoSocial" class="form-control" />
                    <span asp-validation-for="RazaoSocial" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="NomeFantasia" class="control-label"></label>
                </div>
                <div class="col-6">
                    <input asp-for="NomeFantasia" class="form-control" />
                    <span asp-validation-for="NomeFantasia" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="CNPJ" class="control-label"></label>
                </div>
                <div class="col-6">
                    <input id="cnpj" asp-for="CNPJ" class="form-control" />
                    <span asp-validation-for="CNPJ" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Email" class="control-label"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Endereco" class="control-label"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Endereco" class="form-control" />
                    <span asp-validation-for="Endereco" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Cidade" class="control-label"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Cidade" class="form-control" />
                    <span asp-validation-for="Cidade" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Estado" class="control-label"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Estado" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Telefone" class="control-label"></label>
                </div>
                <div class="col-6">
                    <input id="telefone" asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="DataDeCadastro" class="control-label"></label>
                </div>
                <div class="col-6">
                    <input asp-for="DataDeCadastro" class="form-control" />
                    <span asp-validation-for="DataDeCadastro" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Categoria" class="control-label"></label>
                </div>
                <div class="col-6">
                    <select asp-for="Categoria" class="form-control">
                        <option value="">--Categoria--</option>
                        <option value="Borracharia">Borracharia</option>
                        <option value="Oficina">Oficina</option>
                        <option value="Posto">Posto</option>
                        <option value="Restaurante">Restaurante</option>
                        <option value="Supermercado">Supermercado</option>
                    </select>
                    <span asp-validation-for="Categoria" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Status" class="control-label"></label>
                </div>
                <div class="col-6">
                    <select asp-for="Status" class="form-control">
                        <option value="">--Status--</option>
                        <option value="Ativo">Ativo</option>
                        <option value="Inativo">Inativo</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Agencia" class="control-label"></label>
                </div>
                <div class="col-6">
                    <input id="agencia" asp-for="Agencia" class="form-control" />
                    <span asp-validation-for="Agencia" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Conta" class="control-label"></label>
                </div>
                <div class="col-6">
                    <input id="conta" asp-for="Conta" class="form-control" />
                    <span asp-validation-for="Conta" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3 offset-3">
                    <input type="submit" value="Salvar" class="btn btn-secondary text-white btn-sm form-control" />
                </div>
                <div class="col-3">
                    <a asp-action="Index" class="btn btn-secondary text-white btn-sm form-control">Back to List</a>
                </div>
            </div>
        </form>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#cnpj").mask('99.999.999/9999-99');
            $("#telefone").mask('(99)99999-9999');
            $("#agencia").mask('999-9');
            $("#conta").mask('99.999-9');
        });
    </script>
}
